body {
    opacity: 0;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

body.ready {
    opacity: 1;
    transition: 0.25s opacity;
}

.container {
    padding: 0 20px 0 20px;
}

sl-card.portfolio-card {
    width: 300px;
}

sl-card.portfolio-card::part(body) {
    padding-bottom: 2px;
}

sl-button.etsy-link::part(base) {
    border: 2px solid #00567b;
}

sl-button.etsy-link-small::part(label) {
    color: #00567b;
}

sl-button.etsy-link-small::part(prefix) {
    color: #00567b;
}

.tabs__panels > div {
    display: none;
}

.tabs__panels > div.active {
    display: block;
}

.section-button {
    position: relative;
    width: 200px;
    margin: 0 4px 0 4px;
    border: 1px solid #00567b;
    border-radius: 10px;
}

.section-button.active {
    border: 4px solid #00567b;
}

.section-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 0;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.section-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    /* Black see-through */
    width: 148px;
    transition: .5s ease;
    opacity: 1;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}