body {
    opacity: 0;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

body.ready {
    opacity: 1;
    transition: 0.25s opacity;
}

.container {
    width: 100%;
    padding: 0 20px 0 20px;
}

.section-container {
    position: relative;
    width: 250px;
    margin-right: 8px;
  }

  * {box-sizing: border-box}

.section-image {
    display: block;
    width: 100%;
    height: auto;
  }

.section-overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 1;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}