<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <link rel="icon" href="favicon.ico"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta name="description"
          content="Auntie Boo Crafts - specializing in bookmarks, hair clips, glitter pens, key chains, and badge reels.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Auntie Boo Crafts</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-icons.min.css" type="text/css">
    <link rel="stylesheet" href="css/app.css" type="text/css">
</head>

<body>

<div class="container mb-4">

    <div class="text-center w-100 mb-4">
        <img src="img/logo.png" class="img-fluid" alt="Auntie Boo Crafts" style="width:100%; max-width: 591px;"/>
        <div style="color: #00567b; font-size: 1.3em; font-weight: bold;">
            Welcome to Auntie Boo Crafts!
        </div>
        <div class="my-2">
            I'm passionate about creating handcrafted and personalized items. I specialize in bookmarks, hair
            clips, glitter pens, key chains, and badge reels. I have something for every price point. Almost all
            items can be customized. I love working with customers to create something unique and personal.
        </div>
        <p>
            <a class="btn btn-outline-primary rounded-pill" href="https://www.etsy.com/shop/AuntieBooCrafts"
               target="_blank">
                <i class="bi bi-bag-heart"></i> Visit my shop on Etsy
            </a>
        </p>
    </div>

</div>

<div class="flex-column flex-md-row text-center p-1" style="background-color: #00567b;">
    {% for section in boo %}
    <button data-role="nav" data-id="{{ section.sectionId }}" class="btn bp-2 text-uppercase text-white">
        {{ section.sectionTitle }}
    </button>
    {% endfor %}
</div>

<div class="container mt-3">

    {% for section in boo %}
    {% if section.sectionId != "0" %}
    <div data-role="item" data-section-id="{{ section.sectionId }}" class="mb-2">
        <h4>{{ section.sectionTitle }}</h4>
        <div class="row" id="item-grid">
            {% assign these_products = .section.items | where: "show", true  | sort: "order" %}
            {%- for item in these_products -%}

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-2" id="{{ item.id }}">
                <div class="card border-secondary">
                    <img src="{{ item.image }}" class="card-img-top" alt="{{ item.title }}"/>
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ item.title | truncate: 40 }}</h5>

                        <a class="card-link" href="{{ item.etsyPage }}" target="_blank">
                            Buy this on Etsy
                        </a>
                    </div>
                </div>
            </div>

            {%- endfor -%}
        </div>
    </div>
    {% endif %}
    {%- endfor -%}

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Auntie Boo Crafts</span>
        </div>

        <div class="nav col-md-4 justify-content-end d-flex">
            <div class="ms-3">
                <a class="text-body-secondary" href="https://www.etsy.com/shop/AuntieBooCrafts">
                    <i class="bi bi-bag-heart-fill"></i>
                </a>
            </div>
            <div class="ms-3">
                <a class="text-body-secondary" href="https://www.etsy.com/shop/auntieboocrafts/rss">
                    <i class="bi bi-rss-fill"></i>
                </a>
            </div>
        </div>
    </footer>

</div>

<script src="js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
</body>

</html>
