@page "/"
@using AbcAdmin.Models
@layout Layout

<div class="title">Home</div>

<form hx-post="/add" hx-target="#items">
    <input type="text" name="Title" placeholder="title" />
    <input type="text" name="Description" placeholder="description" />
    <sl-button type="submit">
        Hello
    </sl-button>
        
    <div id="items">
        <Items ItemModels="ItemModels"></Items>
    </div>
</form>

@code {
    [Parameter]
    public required List<ItemModel> ItemModels { get; set; }
}