@page "/"
@using AbcAdmin.Models
@layout Layout

<form hx-post="/add" hx-target="#items">
    <sl-card>
        <sl-input help-text="Title" name="title"/>
        <br/>
        <sl-input help-text="Description" name="description"/>
        <div slot="footer">
            <sl-button type="submit" variant="primary" size="small" pill>Add</sl-button>
        </div>
    </sl-card>

    <div id="items">
        <Items ItemModels="ItemModels"></Items>
    </div>
</form>

@code {

    [Parameter]
    public required List<ItemModel> ItemModels { get; set; }

}