<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-2 p-sm-3" id="{{ item.id }}">
    <div class="card border-secondary">
        {% if item.manual %}
        <a href="#" data-bs-toggle="modal" data-bs-target="#img-modal-{{ item.id }}" class="stretched-link">
            <img src="{{ item.images[0] }}" class="card-img-top border border-bottom border-secondary abc-product-img" alt="{{ item.title }}"/>
        </a>
        {% else %}
        <a href="{{ item.etsyPage }}" target="_blank" class="stretched-link">
            <img src="{{ item.images[0] }}" class="card-img-top border border-bottom border-secondary abc-product-img" alt="{{ item.title }}"/>
        </a>
        {% endif %}
        {% if item.images.size > 1 %}
        <span class="abc-multi-img-badge" title="Multiple images" aria-label="Multiple images">
            <i class="bi bi-images"></i>
        </span>
        {% endif %}
        <div class="card-body text-center p-2">
            <p class="card-text text-truncate">{{ item.title }}</p>
        </div>
    </div>
</div>

{% if item.manual %}
<div class="modal fade" id="img-modal-{{ item.id }}" tabindex="-1" aria-labelledby="img-modal-label-{{ item.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header align-items-start">
                <div>
                    <h5 class="modal-title mb-1" id="img-modal-label-{{ item.id }}">{{ item.title }}</h5>
                    {% if item.description %}
                    {% assign description_paragraphs = item.description | split: "\n" %}
                    {% for paragraph in description_paragraphs %}
                    <p class="text-muted small {% if forloop.last %}mb-0{% else %}mb-2{% endif %}">{{ paragraph }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if item.images.size > 1 %}
                <div id="carousel-{{ item.id }}" class="carousel slide">
                    <div class="carousel-inner">
                        {% for img in item.images %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ img }}" class="d-block w-100 abc-product-img" alt="{{ item.title }}"/>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ item.id }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ item.id }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                {% else %}
                <img src="{{ item.images[0] }}" class="d-block w-100 abc-product-img" alt="{{ item.title }}"/>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
